.form__container {
  display: flex;
  width: 100%;
  justify-content: center;
  color: white;

  form {
    input,
    textarea {
      width: 600px;
      font-family: "Arial";
      @media all and (max-width: 1200px) {
        width: 300px;
      }
    }
    p {
      margin: 15px;
      margin-left: 0px;
      text-transform: uppercase;
    }
  }
  &__buttons {
    display: flex;
    justify-content: space-evenly;
    button {
      width: 150px;
      padding-top: 2.5px;
      margin-top: 20px;

      font-family: "Primary";
      padding: 14px 28px;
      font-size: 16px;

      cursor: pointer;

      border-color: white;
      color: white;
      background-color: transparent;
      transition: 0.5s;

      @media all and (max-width: 1200px) {
        width: 75px;
        height: 40px;
        font-size: 10px;
        white-space: nowrap;
        padding: 6px;
      }
    }

    button:hover {
      border-color: red;
    }
  }

  .success{
    width: 50%;
    display: flex;    
    flex-direction: column;
    margin: auto;
    text-align: center;
  }
}

