.profile {
  -webkit-transition: all 0.5s ease; /* Safari and Chrome */
  -moz-transition: all 0.5s ease; /* Firefox */
  -ms-transition: all 0.5s ease; /* IE 9 */
  -o-transition: all 0.5s ease; /* Opera */
  transition: all 0.5s ease;
}

.profile:hover {
  -webkit-transform: scale(1.05); /* Safari and Chrome */
  -moz-transform: scale(1.05); /* Firefox */
  -ms-transform: scale(1.05); /* IE 9 */
  -o-transform: scale(1.05); /* Opera */
  transform: scale(1.05);
}

.index__about {
  display: flex;
  justify-content: space-between;

  &__image {
    width: 300px;
  }

  &__image img:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
  &__text {
    max-width: 600px;
    text-align: end;
    padding-left: 50px;

    &__hey {
      h1 {
        text-align: right;
        font-family: "primary";
        font-size: 60px;
      }
    }

    &__info {
      width: 100%;

      p:not(:first-child) {
        margin-bottom: 5px;
      }
    }
  }

  &__navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;
    height: 210px;
    width: 100%;

    &__thumbnail {
      width: 210px;
      position: relative;
      p {
        font-size: 15px;
        position: absolute;
        text-align: center;
        z-index: 999;
        text-shadow: 2px 2px 8px black;
        top: 50px;
        width: 100%;
        @media all and (max-width: 837px) {
          font-size: 10px;
        }
        @media all and (max-width: 456px) {
          padding-top: 15px;
        }
      }
      @media all and (max-width: 456px) {
        padding-top: 15px;
      }
    }

    @media all and (max-width: 456px) {
      justify-content: center;
      padding-bottom: 550px;
    }

    &__thumbnail:hover {
      p {
        color: red;
      }
    }
  }
}
