.footer__container {
    display:flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 50px;
}

.footer__link {
    font-family: "primary";
}

.footer__link:hover {
    color: red;
}